@charset "utf-8";

@font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Thin"),
         local("Noto Sans KR Thin"),
         url(../font/NotoSansKR-Thin-Hestia.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-Thin-Hestia.woff) format('woff'),
         url(../font/NotoSansKR-Thin-Hestia.otf) format('opentype');
    font-style: normal;
    font-weight: 100;
}
  @font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Light"),
         local("Noto Sans KR Light"),
         url(../font/NotoSansKR-Light-Hestia.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-Light-Hestia.woff) format('woff'),
         url(../font/NotoSansKR-Light-Hestia.otf) format('opentype');
    font-style: normal;
    font-weight: 300;
}
  @font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Regular"),
         local("Noto Sans KR Regular"),
         url(../font/NotoSansKR-Regular-Hestia.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-Regular-Hestia.woff) format('woff'),
         url(../font/NotoSansKR-Regular-Hestia.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
}
  @font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Medium"),
         local("Noto Sans KR Regular"),
         url(../font/NotoSansKR-Medium-Hestia.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-Medium-Hestia.woff) format('woff'),
         url(../font/NotoSansKR-Medium-Hestia.otf) format('opentype');
    font-style: normal;
    font-weight: 500;
}
  @font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Bold"),
         local("Noto Sans KR Medium"),
         url(../font/NotoSansKR-Bold-Hestia.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-Bold-Hestia.woff) format('woff'),
         url(../font/NotoSansKR-Bold-Hestia.otf) format('opentype');
    font-style: normal;
    font-weight: 700;
}
  @font-face {
    font-family: "Noto Sans Korean";
    src: local("Noto Sans CJK KR Black"),
         local("Noto Sans KR Medium"),
         url(../font/NotoSansKR-black.eot) format('embedded-opentype'),
         url(../font/NotoSansKR-black.woff) format('woff'),
         url(../font/NotoSansKR-black.otf) format('opentype');
    font-style: normal;
    font-weight: 800;
}

html                              {-webkit-text-size-adjust:100%;color:#1f2021;font-size:12px;font-weight:400;font-family:"Noto Sans Korean", sans-serif;line-height:1;word-break:keep-all;word-wrap:break-word;}
body                              {background-color: #fff;}
h1                                {font-size:inherit;}
a                                 {display:inline-block;background-color:transparent;text-decoration:none;color:inherit;}
b,strong                          {font-weight:400;}
small                             {font-size:80%;}
button,input                      {overflow:visible;}
button,select                     {text-transform:none;}
button,[type="button"],
[type="reset"],
[type="submit"]                   {-webkit-appearance:button;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring    {outline:1px dotted ButtonText;}
legend                            {box-sizing:border-box;color:inherit;display:table;max-width:100%;white-space:normal;}
textarea                          {overflow:auto;box-sizing:border-box;resize:none;border-radius:0;-webkit-box-shadow:none;-webkit-appearance:none;}
[type="checkbox"],
[type="radio"]                    {box-sizing:border-box;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
[type="number"]                            {-moz-appearance: textfield;}
[type="search"]                            {-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
::-webkit-file-upload-button               {-webkit-appearance:button;font:inherit;}

*                                  {outline:none!important;margin:0;padding:0;}
fieldset                           {border:0;}
ul,ol,li                           {list-style-type:none;}
input,select                       {appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;border-radius:0;font-weight:400;}
table                              {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
address,em                         {font-style:normal;}
button                             {cursor:pointer;background-color:transparent;border:0;}
button:disabled                    {cursor:default;}
h1,h2,h3,h4,h5,h6                  {font-size:inherit;font-weight:inherit;}
button,input,select,textarea       {font-family:"Noto Sans Korean", sans-serif;font-weight:400;font-size:13px;color:#1f2021;}
button,select,textarea             {line-height:inherit;}
img                                {vertical-align: top; border: 0;}
th                                 {font-weight: 400;}
[type="text"],
[type="email"],
[type="search"],
[type="password"],
[type="number"]                    {box-sizing: border-box; width: 100%; border: 0;}

hr,
[hidden],
select::-ms-expand,
img[src=""]                        {display:none;}

img,button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner  {border-style:none;}

::-moz-selection,
::selection                        {background:#f48c19;text-shadow:none;}

::placeholder                      {color:#8f9194;}
:-ms-input-placeholder             {color:#8f9194 !important;}
::-ms-input-placeholder            {color:#8f9194;}
::-webkit-input-placeholder        {color:#8f9194;}
::-moz-placeholder                 {color:#8f9194;}
:-moz-placeholder                  {color:#8f9194;}

.hidden                            {display:none!important;}

.visuallyhidden                    {border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;white-space:nowrap;margin:-1px;padding:0;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus    {clip:auto;height:auto;overflow:visible;position:static;width:auto;white-space:inherit;margin:0;}

.clearfix:before,
.clearfix:after                    {content:" ";display:table;}
.clearfix:after                    {clear:both;}

.ellipsis                          {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.ellipsis_line                     {overflow:hidden;}

@media print {
    *,:before,:after    {background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
    a,a:visited         {text-decoration:underline;}
    a[href]:after       {content:" (" attr(href) ")";}
    abbr[title]:after   {content:" (" attr(title) ")";}
    a[href^="#"]:after,
    a[href^="javascript:"]:after {content:"";}
    pre                 {white-space:pre-wrap!important;}
    pre,blockquote      {border:1px solid #999;page-break-inside:avoid;}
    thead               {display:table-header-group;}
    tr,img              {page-break-inside:avoid;}
    p,h2,h3             {orphans:3;widows:3;}
    h2,h3               {page-break-after:avoid;}
}