@charset "utf-8";

.t-left                       { text-align: left; }
.t-right                      { text-align: right; }

.c-board                      { line-height: 1.4; }
.c-board table                { border-bottom: 1px solid #bdc1c4; }
.c-board th,
.c-board td                   { padding-left: 30px; padding-right: 30px; }
.c-board th                   { height: 39px; border-top: 1px solid #e7eaee; color: #8f9194; }
.c-board td                   { height: 48px; border-top: 1px solid #e2e5e8; font-size: 14px; color: #8f9194; }
.c-board tbody tr:first-child td { border-top-color: #bdc1c4; }
.c-board tbody tr:hover td    { background-color: #f4f6fb; }
.c-board .title               { display: block; color: #163555; }
.c-board .title:hover         { color: #f48c19; text-decoration: underline; }

.c-search                     { overflow: hidden; position: relative; float: right; box-sizing: border-box; width: 386px; padding-left: 386px; font-size: 14px; transition: padding-left .3s ease-out; }
.c-search:after               { content: ''; display: table; clear: both; }
.c-search fieldset            { width: 386px; }
.c-search-select,
.c-search-input,
.c-search-button              { float: left; box-sizing: border-box; display: block; height: 48px; border-bottom: 1px solid #163555; line-height: 30px; }
.c-search-select              { padding-top: 4px; width: 120px; }
.c-search-select select       { width: 100%; padding-right: 0; font-size: inherit; }
.c-search-input               { padding-top: 4px; margin-left: 16px; width: 210px; }
.c-search-input input         { line-height: 1.2; }
.c-search-button              { position: absolute; top: 0; right: 0; padding-top: 3px; width: 40px; background-color: #fff; }
.c-search-button:hover .search{ background-position: -50px -183px; }

.c-search.active              { padding-left: 0; width: 386px; }

/* pagination */
.c-pagination-wrap            { margin-top: 40px; text-align: center; }
.c-pagination                 { display: inline-block; }
.c-pagination-item            { float: left; margin-left: 1px; }
.c-pagination-link            { box-sizing: border-box; display: block; width: 40px; height: 40px; line-height: 40px;  background-color: #eef0f5; color: #163555; font-size: 14px; text-align: center; transition: background-color, color .1s ease-out; }
.c-pagination-link-arrow      { z-index: 1; position: relative; box-sizing: border-box; display: block; width: 40px; height: 40px; line-height: 40px; border: 1px solid #e2e5e8; text-align: center; transition: border-color .1s ease-out; }

.c-pagination-item > .disabled{ pointer-events: none; opacity: 0.5; cursor: default; }
.c-pagination-link:hover      { color: #f48c19; }
.c-pagination-link.current    { pointer-events: none; background-color: #f48c19; color: #fff; cursor: default; }

.c-pagination-link-arrow:hover{ z-index: 2; border-color: #f48c19; }
.c-pagination-link-arrow:hover .arrow-double-to-left { background-position-y: -10px; }
.c-pagination-link-arrow:hover .arrow-to-left        { background-position-y: -106px; }
.c-pagination-link-arrow:hover .arrow-to-right       { background-position-y: -146px; }
.c-pagination-link-arrow:hover .arrow-double-to-right{ background-position-y: -50px; }

.c-pagination-item.previous-group{ margin-left: 0; }
.c-pagination-item.previous-page { margin-left: -1px; margin-right: 25px; }
.c-pagination-item.next-page     { margin-left: 25px; }
.c-pagination-item.next-group    { margin-left: -1px; }

/* Q&A */
.qna-board th:nth-child(1)    { width: 10% }
.qna-board th:nth-child(3)    { width: 18% }
.qna-board th:nth-child(4)    { width: 12% }

.label-checking               { display: inline-block; width: 72px; border-radius: 20px; line-height: 20px; background-color: #6abae2; color: #fff; font-size: 12px; text-align: center; font-weight: 300; }
.label-comp                   { display: inline-block; width: 72px; border-radius: 20px; line-height: 20px; background-color: #1d8fd4; color: #fff; font-size: 12px; text-align: center; font-weight: 300; }
.dash-center                  { display: inline-block; width: 72px; text-align: center; color: #8f9194; }

.qna-write-button             { margin-top: -40px; width: 160px; }

/* Q&A > view */
.qna-complate-time            { margin-left: 8px; color: #8f9194; font-size: 14px; }
.qna-answer-state             { margin-top: 5px; }
.qna-answer                   { color: #1d8fd4; }
.c-view-body.qna-answer .c-view-item-name,
.c-view-body.qna-answer .c-view-item-detail { color: inherit; }

/* Notice */
.notice-board th:nth-child(1) { width: 10% }
.notice-board th:nth-child(3) { width: 18% }
.notice-writing td:nth-child(1){ color: #1d8fd4; }
.notice-writing .title        { font-weight: 600; }

/* board view */
.c-search.active              { padding-left: 0; width: 386px; }
.c-view                       { display: table; table-layout: fixed; width: 100%; border: 1px solid #bdc1c4; border-width: 1px 0; }
.c-view-header                { display: table-row; line-height: 28px; }
.c-view-body                  { display: table-row; line-height: 30px; }
.c-view-body .c-view-item-detail     {  color: #505254; font-size: 14px; }
.c-view-body .c-view-item-detail img { max-width: 100%; margin: 48px 0; }
.c-view-extra                 { display: table-row; }
.c-view-item-name             { display: table-cell; padding: 35px 0 55px 30px; width: 220px; color: #8f9194; font-size: 14px; vertical-align: top; }
.c-view-item-detail           { display: table-cell; padding: 0 30px 55px 0; }
.c-view-item-detail::before   { content: ''; display: block; margin-bottom: 34px; width: 40px; height: 1px; background-color: #bdc1c4; }
.c-view-header .c-view-item-detail::before { width: 0; }

.c-view-heading               { float: left; width: 76%; }
.c-view-heading-value         { font-size: 18px; font-weight: 600; }
.c-view-meta                  { float: right; width: 12%; font-size: 14px; color: #505254; text-align: right; }
.c-view-meta-name             { display: block; color: #8f9194; }

.c-view-buttons               { margin-left: 250px; margin-top: 40px; }
.c-view-buttons .c-button + .c-button { margin-left: 6px; }
.view-list-button             { width: 160px; }

.download-link                { font-size: 14px; color: #163555; }
.download-link .download      { margin-right: 8px; vertical-align: middle; }
.download-link:hover          { color: #f48c19; text-decoration: underline; }
.download-link:hover .download{ background-position: -50px -71px; }

.c-write-input                { padding-left: 15px; padding-right: 15px; height: 50px; border: 1px solid #e2e5e8;  font-size: 14px; }
.c-write-textarea             { padding: 15px; width: 100%; height: 360px; border: 1px solid #e2e5e8; line-height: 30px; font-size: 14px; }

/* Q&A > write */
.write-mode .c-view-header,
.write-mode .c-view-body      { line-height: 1; }
.write-mode .c-view-item-name { padding-top: 40px; }          
.write-mode .c-view-item-detail { padding-bottom: 40px; }      
.write-mode .c-view-item-detail::before { margin-bottom: 39px; }   

/* FAQ tab */
.faq-tablist                   { height: 50px; border-bottom: 1px solid #163555; }
.faq-tablist:after             { content: ''; display: table; clear: both; }
.faq-tab                       { float: left; width: 14.2857%; cursor: pointer; }
.faq-tablist .faq-tab:last-child .faq-tab-value { border-right: 0; }
.faq-tab-value                 { position: relative; display: block; box-sizing: border-box; height: 50px; border: 1px solid #fff; border-left: 0; background-color: #eef0f5; color: #163555; font-size: 14px; font-weight: bold; text-align: center; line-height: 48px; transition: background-color, color .1s ease-out; }
.faq-tab-value:after           { position: absolute; bottom: 2px; left: 50%; margin-left: -12px; width: 24px; height: 2px; background-color: #e48d2e; }
.faq-tab-panel                 { display: none; min-height: 628px;  }

.faq-tab:hover:not(.active) .faq-tab-value  { background-color: #f48c19; color: #fff; }

.faq-tab.active > .faq-tab-value          { margin-top: 1px; background-color: #fff; border: 1px solid #163555; border-bottom: 0; }
.faq-tab.active + .faq-tab .faq-tab-value { border-left: 1px solid #fff; }
.faq-tab.active .faq-tab-value:after      { content: ''; }

/* FAQ list */
.faq-list                      { border: 1px solid #bdc1c4; border-width: 1px 0; }
.faq-item                      { position: relative; border-top: 1px solid #e2e5e8; font-size: 14px; line-height: 30px; }
.faq-list .faq-item:first-child{ border-top: 0; }          
.faq-item:after               { content: ''; position: absolute; top: 22px; right: 30px; display: block; width: 10px; height: 6px; background: url(/bitground/img/sprite-direction.png) no-repeat -10px -90px;  }

.faq-header                    { margin-top: 45px; font-size: 12px; color: #8f9194; line-height: 1.4; }
.faq-header:after,
.faq-item-question:after,
.faq-item-answer:after         { content: ''; display: table; clear: both; }

.faq-header-qna,
.faq-item-label                { float: left; box-sizing: border-box; padding-top: 10px; padding-bottom: 10px; padding-left: 30px; width: 14%; }
.faq-header-title,
.faq-item-content              { float: left; box-sizing: border-box; padding-top: 10px; padding-bottom: 10px; padding-right: 180px; width: 86%; }

.faq-item-label                { font-size: 14px; color: #8f9194; }
.faq-item-label-word           { display: none; }
.faq-item-content              { color: #163555; }

.faq-item-answer                           { display: none; color: #1d8fd4; }
.faq-item-answer .faq-item-label           { color: inherit; }
.faq-item-answer .faq-item-content         { padding-bottom: 42px; color: inherit; }
.faq-item-answer .faq-item-label::before,
.faq-item-answer .faq-item-content::before { content: ''; display: block; margin-top: 32px; margin-bottom: 31px; width: 40px; height: 1px; background-color: #bdc1c4; }
.faq-item-answer .faq-item-label::before   { background-color: transparent; }

.faq-item-question                         { cursor: pointer; }
.faq-item-question .faq-item-content       { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.faq-item:hover:not(.active)               { background-color: #f4f6fb; }
.faq-item:hover:after                     { background-position-y: -218px; }
.faq-item:hover .faq-item-question .faq-item-content { color: #f48c19; text-decoration: underline; }

.faq-item.active                           { background-color: #f4f6fb; }
.faq-item.active:after                     { background-position-y: -186px; }
.faq-item.active:hover:after               { background-position-y: -202px; }
.faq-item.active .faq-item-label-word      { display: inline; }
.faq-item.active .faq-item-question .faq-item-content { overflow: auto; text-overflow: initial; white-space: initial; font-weight: 600; }
/* .faq-item.active .faq-item-answer          { height: auto; } */