@charset "utf-8";

/* layout */
.wrapper                      { box-sizing: border-box; margin: 0 auto; width: 1280px; }
.contents                     { padding: 80px 80px 120px; }

.header .wrapper              { z-index: 10; position: relative; box-sizing: border-box; padding: 0 250px; width: 1120px; height: 62px; background-color: #163555; }
.header .logo                 { position: absolute; top: 0; left: 0; width: 250px; height: 100%; background-color: #fff; }
.header .logo img             { margin-top: 11px; }

/* .footer .wrapper              { padding: 80px 80px 45px; } */
.footer .wrapper              { padding-top: 80px; }

.container                    { position: relative; }

/* user menu */
.user-menu-wrap               { position: absolute; top: 0; right: 0; width: 250px; height: 100%; background-color: #f48c19; }
.user-menu                    { margin-top: 5px; margin-left: 48px; }
.user-menu ul:after           { content: ''; display: table; clear: both; }
.user-menu li                 { float: left; margin-left: 13px; }
.user-menu ul li:first-child  { margin-left: 0; }
.user-menu a                  { position: relative; padding: 20px 15px; color: #163555; transition: color 0.1s ease-out; }
.user-menu a:after            { content: ''; opacity: 0; position: absolute; bottom: 10px; left: 50%; display: block; transform: translateX(-50%); width: 20px; height: 2px; background-color: #fff; transition: all 0.1s ease-out; }

/* user menu 활성화 */
.user-menu .active a,
.user-menu a:hover            { color: #fff; }
.user-menu .active a:after,
.user-menu a:hover:after      { opacity: 1; bottom: 0; }

/* gnb & snb */
.gnb                          { position: relative; text-align: center; }
.gnb-item                     { display: inline-block; margin: 0 26px; }
.gnb-item a                   { position: relative; padding: 24px 15px; font-size: 14px; font-weight: 600; color: #fff; transition: color 0.1s ease-out; }

.gnb-item a:after,
.snb-item a:after             { content: ''; opacity: 0; position: absolute; bottom: 18px; left: 50%; display: block; transform: translateX(-50%); width: 40px; height: 2px; background-color: #f48c19; transition: all 0.1s ease-out; }

.snb                          { display: none; position: absolute; top: 62px; left: 0; width: 100%; border-bottom: 1px solid #e2e5e8; background-color: #fff; }
.snb-item                     { display: inline-block; margin: 0 18px; }
.snb-item a                   { position: relative; padding: 24px 15px; font-size: 14px; font-weight: 600; color: #163555; }
.snb-item a:after             { width: 32px; left: 51%; bottom: 8px; }

/* gnb, snb 활성화 */
.gnb-item.active > a,
.snb-item.active > a,
.gnb-item a:hover,
.snb-item a:hover             { color: #f48c19; }
.gnb-item.active > a:after,
.gnb-item a:hover:after       { opacity: 1; bottom: 8px; }
.snb-item.active > a:after,
.snb-item a:hover:after       { opacity: 1; }

/* 서브메뉴 전체 toggle */
.gnb-item:hover > a + .snb,   
.gnb-item.active .snb         { display: block; }

/* text color */
.t-primary                    { color: #f48c19; }
.t-secondary                  { color: #1d8fd4; }

/* sprite icon */
.sprite-direction                         { background-image: url(/bitground/img/sprite-direction.png); background-repeat: no-repeat; display: inline-block; }
.sprite-direction.arrow-double-to-left-on { width: 12px; height: 10px; background-position: -10px -10px; }
.sprite-direction.arrow-double-to-left    { width: 12px; height: 10px; background-position: -10px -30px; }
.sprite-direction.arrow-double-to-right-on{ width: 12px; height: 10px; background-position: -10px -50px; }
.sprite-direction.arrow-double-to-right   { width: 12px; height: 10px; background-position: -10px -70px; }
.sprite-direction.arrow-to-bottom         { width: 10px; height: 6px; background-position: -10px -90px; }
.sprite-direction.arrow-to-left-on        { width: 6px; height: 10px; background-position: -10px -106px; }
.sprite-direction.arrow-to-left           { width: 6px; height: 10px; background-position: -10px -126px; }
.sprite-direction.arrow-to-right-on       { width: 6px; height: 10px; background-position: -10px -146px; }
.sprite-direction.arrow-to-right          { width: 6px; height: 10px; background-position: -10px -166px; }
.sprite-direction.arrow-to-top            { width: 10px; height: 6px; background-position: -10px -186px; }

.sprite-icon                           { background-image: url(/bitground/img/sprite-icon.png); background-repeat: no-repeat; display: inline-block; }
.sprite-icon.avatar                    { width: 17px; height: 20px; background-position: -10px -10px; }
.sprite-icon.avatar-black              { width: 17px; height: 20px; background-position: -50px -10px; }
.sprite-icon.digit                     { width: 18px; height: 21px; background-position: -10px -40px; }
.sprite-icon.digit-black               { width: 18px; height: 21px; background-position: -50px -40px; }
.sprite-icon.download                  { width: 18px; height: 16px; background-position: -10px -71px; }
.sprite-icon.email                     { width: 20px; height: 16px; background-position: -10px -97px; }
.sprite-icon.email-black               { width: 20px; height: 16px; background-position: -50px -97px; }
.sprite-icon.gender                    { width: 20px; height: 20px; background-position: -10px -123px; }
.sprite-icon.password                  { width: 18px; height: 20px; background-position: -10px -153px; }
.sprite-icon.password-black            { width: 18px; height: 20px; background-position: -50px -153px; }
.sprite-icon.search                    { width: 18px; height: 18px; background-position: -10px -183px; }
.sprite-icon.search-on                 { width: 18px; height: 18px; background-position: -50px -183px; }
.sprite-icon.verify-code               { width: 20px; height: 17px; background-position: -10px -211px; }
.sprite-icon.verify-code-black         { width: 20px; height: 17px; background-position: -50px -211px; }
.sprite-icon.caution-blue              { width: 20px; height: 20px; background-position: -10px -238px; }
.sprite-icon.caution-red               { width: 20px; height: 20px; background-position: -50px -238px; }
.sprite-icon.warning                   { width: 14px; height: 12px; background-position: -10px -268px; }
.sprite-icon.phone                     { width: 20px; height: 21px; background-position: -10px -290px; }
.sprite-icon.document                  { width: 18px; height: 20px; background-position: -10px -321px; }

/* 페이지 타이틀 */
.c-page-header                { margin: 0 auto; width: 620px; }
.c-page-header:after          { content: ''; display: table; clear: both; }
.c-page-title                 { position: relative; margin-bottom: 80px; padding-bottom: 18px; font-size: 30px; font-weight: 600; color: #1f2021; }
.c-page-title:after           { content: ''; position: absolute; bottom: 0; left: 2px; display: block; width: 40px; height: 2px; background-color: #1f2021; }
.c-page-sub-title             { margin-top: -58px; margin-bottom: 80px; font-size: 18px; font-weight: 600; }
.c-page-header .c-page-title  { float: left; }

.c-page-sub-title2            { position: relative; margin-top: 80px; padding-top: 27px; font-size: 18px; font-weight: bold; }
.c-page-sub-title2:after      { content: ''; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 2px; background-color: #1f2021; }
.c-pape-title-desc            { margin-top: 10px; font-size: 14px; line-height: 24px; color: #8f9194; }

/* input */
.c-required                   { margin-left: -3px; color: #ec0038; }

.c-invalid-message            { color: #ec0038; }
.c-invalid-message::before    { content: ''; display: inline-block; margin-right: 17px; width: 14px; height: 12px; background: url(/bitground/img/sprite-icon.png) no-repeat -10px -268px; }

.c-validation-message         { color: #1d8fd4; font-size: 16px; }
.c-validation-message::before { content: ''; display: inline-block; margin-right: 5px; width: 20px; height: 20px; background: url(/bitground/img/sprite-icon.png) no-repeat -10px -238px; vertical-align: top; }
.c-validation-message.invalid { color: #ec0038; }
.c-validation-message.invalid::before { background-position: -50px -238px; }
.input-field                  { position: relative; }
.input-field + .input-field,
.input-field-guide + .input-field { margin-top: 30px; }
.input-field-label            { position: absolute; top: 17px; left: 1px; padding-left: 32px; font-size: 14px; color: #163555; line-height: 18px; }
.input-field-label .sprite-icon { position: absolute; top: 0; left: 0; }
.input-field-input            { display: block; padding: 12px 0 15px 167px; min-height: 27px; border-bottom: 1px solid #163555;  text-align: right; }
.input-field-input input      { font-size: 18px; text-align: right; }
.input-field-input select     { line-height: 27px; }
.input-field-message          { display: none; margin-top: 14px; }
.input-field-guide            { margin-top: 12px; color: #8f9194; line-height: 20px; }

/* input > invalid */
.input-field.invalid .input-field-input       { border-color: #ec0038; }
.input-field.invalid .input-field-input input { color: #ec0038; }
.input-field.invalid .input-field-message     { display: block; color: #ec0038; }
.input-field.invalid .input-field-message::before { content: ''; display: inline-block; margin-right: 17px; width: 14px; height: 12px; background: url(/bitground/img/sprite-icon.png) no-repeat -10px -268px; }

/* selectbox */
.c-select                     { position: relative; display: inline-block; padding-right: 10px; }
.c-select:after               { content: ''; position: absolute; top: 50%; right: 0; display: inline-block; margin-top: -3px; width: 10px; height: 6px; background: url(/bitground/img/sprite-direction.png) no-repeat -10px -90px; vertical-align: middle; }
.c-select select              { padding-right: 28px; width: auto; border: 0; color: #163555; font-size: 18px; text-align: right; vertical-align: middle; background-color: #fff; }

/* checkbox */
.c-checkbox                   { position: relative; display: inline-block; font-size: 14px; }
.c-checkbox-label             { display: block; padding-left: 32px; line-height: 1.2; color: #555; }
.c-checkbox-label:before      { content: ''; overflow: hidden; position: absolute; top: 1px; left: 0; display: block; width: 14px; height: 14px; background: url(/bitground/img/checkbox.png) no-repeat -10px -10px; }
input:checked + .c-checkbox-label:before { background-position-y: -34px; }
.invalid .c-checkbox-label:before { background-position-y: -58px; }

/* button */
.button-wrap                   { margin-top: 40px; }
.c-button,
a.c-button                     { padding: 0 20px; height: 40px; background-color: #163555; border: 1px solid #163555; color: #fff; font-size: 14px; vertical-align: top; transition: all .1s ease-out; }
a.c-button                     { box-sizing: border-box; text-align: center; line-height: 38px; }                    

/* button > color */
.c-button.secondary            { background-color: #bdc1c4; border-color: #bdc1c4; }
.c-button.transparent          { background-color: transparent; border-color: transparent; color: #163555; }
.c-button.primary              { background-color: #f48c19; border-color: #f48c19; color: #fff; }

/* button > line */
.c-button.line                 { background-color: #fff; color: #163555; }

/* button > medium */
.c-button.medium               { height: 52px; font-size: 18px; }
a.c-button.medium              { line-height: 50px; }

/* button hover */
.c-button:not(.transparent):hover { border-color: #f48c19; background-color: #f48c19; }
.c-button.line:hover           { border-color: #f48c19; background-color: #fff; color: #f48c19; }
.c-button.primary:hover        { background-color: #ff9f34; border-color: #ff9f34; color: #163555; }
.c-button.transparent:hover    { color: #f48c19; text-decoration: underline; }

/* banner */
.banner-wrap                   { overflow: hidden; margin-top: 96px; }
.banner-visual                 { overflow: hidden; float: right; width: 870px; height: 235px; }
.banner-visual-item            { position: relative; float: left; width: 100%; height: 235px; }
.banner-control                { position: relative; float: left; box-sizing: border-box; margin-top: 24px; width: 122px; height: 211px; }
.banner-control:after          { content: ''; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 1px; background-color: #bdc1c4; }
.banner-control li             { position: absolute; box-sizing: border-box; padding-top: 39px; width: 100%; height: 100%; }
.banner-control-item           { color: #8f9194; font-size: 18px; line-height: 24px; text-align: left; }
.banner-control-text           { opacity: 0; }
.banner-control-button         { z-index: 1; position: absolute; bottom: 0; display: block; width: 40px; height: 40px; border-bottom: 1px solid #163555; cursor: pointer; transition: border-width .1s ease-out; }
.banner-control-button:hover   { border-bottom-width: 8px; border-color: #f48c19; }
.banner-control li:nth-child(1) .banner-control-button { left: 0; }
.banner-control li:nth-child(2) .banner-control-button { left: 41px; }
.banner-control li:nth-child(3) .banner-control-button { left: 82px; }

.banner-control .slick-active .banner-control-text     { opacity: 1; }
.banner-control .slick-active .banner-control-button   { border-bottom-width: 2px; border-color: #f48c19; }

.banner-app-open-button-wrap   { position: absolute; top: 74px; right: 0; width: 250px; }
.app-open-button               { width: 250px; height: 62px; line-height: 62px; background-color: #163555; text-align: center; transition: background-color .1s ease-out; }
.app-open-button + .app-open-button { margin-top: 1px; }
.app-open-button img           { vertical-align: middle; }

/* 모바일 앱 오픈 비쥬얼 버튼: hover style */
.app-open-button:hover         { background-color: #f48c19; }

/* selectbox */
.c-combobox                     { position: relative; display: inline-block; }
.c-combobox + .c-combobox       { margin-left: 20px; }
.c-combobox-selection           { position: relative; box-sizing: border-box; display: block; padding-right: 20px; min-width: 120px; color: #163555; cursor: pointer; }
.c-combobox-selection:after     { content: ''; position: absolute; top: 50%; right: 0; display: inline-block; margin-top: -2px; width: 10px; height: 6px; background: url(/bitground/img/sprite-direction.png) no-repeat -10px -90px; vertical-align: middle; }
.c-combobox-results             { z-index: 10; position: absolute; top: 47px; right: 0; width: 100%; }
.c-combobox-list                { display: inline-block; box-sizing: border-box; width: 120px; border: 1px solid #bdc1c4; background-color: #fff; text-align: center; }
.c-combobox-option              { box-sizing: border-box; padding: 12px 0; min-height: 40px; color: #163555; line-height: 1.4; white-space: nowrap; cursor: pointer; }
.c-combobox-option:hover:not([aria-selected="true"]),
.c-combobox-option[aria-selected="true"] { background-color: #eef0f5; color: #f48c19; }

.c-combobox-selection[aria-expanded="false"] + .c-combobox-results { display: none; }
.c-combobox-selection[aria-expanded="true"] + .c-combobox-results { display: block; }

/* terms of service */
.terms-wrap                    { position: relative; border-top: 1px solid #bdc1c4; }
.terms-list                    { position: absolute; box-sizing: border-box; padding-right: 10px; padding-top: 37px; width: 250px; font-size: 14px; color: #163555; line-height: 20px; }
.terms-list > li:not(:first-child) { margin-top: 12px; }
.terms-list .active            { color: #f48c19; }
.terms-list a:hover            { color: #f48c19; }
.terms-content                 { padding-left: 250px; padding-top: 34px; width: 870px; font-size: 14px; color: #505254; line-height: 30px; }
.terms-content a               { color: #163555; }
.terms-content a:hover         { color: #f48c19; text-decoration: underline; }
.terms-title                   { margin-top: 54px; font-size: 18px; font-weight: 600;  color: #1f2021; }
.terms-desc                    { margin-top: 20px; }

.terms-content .terms-title:first-child { margin-top: 0; }