@charset "utf-8";

/* 메인 비쥬얼 영역 */
.slider-wrap                  { overflow: hidden; position: relative; padding: 0 80px; height: 421px; }
.slider-visual-item           { position: relative; width: 100%; height: 421px; background-color: #eee; }
.slider-control               { position: absolute; top: 165px; left: 89px; }
.slider-control-button        { padding: 10px; color: #163555; }
.slider-control-button::before { content: ''; display: inline-block; margin-top: 1px; margin-right: 13px; width: 2px; height: 11px; background-color: #163555; vertical-align: top; }

/* 메인 비쥬얼 > 슬라이더 버튼: hover style */
.slick-active .slider-control-button,
.slider-control-button:hover  { color: #f48c19; }
.slick-active .slider-control-button::before,
.slider-control-button:hover::before { background-color: #f48c19; }

/* 모바일 앱 오픈 비쥬얼 */
.app-open                     { background: url(/bitground/img/main-visual-1.png) no-repeat; }
.app-open:after               { content: ''; display: table; clear: both; }
.app-open-button-wrap         { position: absolute; top: 0; right: 0; padding-top: 148px; width: 250px; }

/* transaction amount > daily */
.page-main .container:after   { z-index: -1; content: ''; position: absolute; top: 421px; left: 0; display: block; width: 100%; height: 847px; background-color: #eef0f5; }
.transaction-wrap             { padding: 40px 80px; background-color: #eef0f5; }
.transaction-title            { position: absolute; top: 0; left: 0; width: 250px; height: 100%; line-height: 113px; font-size: 18px; background-color: #1d8fd4; color: #fff; text-align: center; }
.transaction-daily            { position: relative; padding: 10px 40px 10px 290px; background-color: #fff; }
.transaction-daily-line + .transaction-daily-line { border-top: 1px solid #e2e5e8; }
.transaction-daily-line:after,
.transaction-daily-list:after { content: ''; display: table; clear: both; }
.transaction-daily-label      { margin-left: 5px; padding: 0 9px; font-size: 12px; border-radius: 20px; background-color: #eef0f5; color: #505254; line-height: 20px; }
.transaction-daily-time       { float: left; padding: 16px 0; width: 12%; color: #505254; font-weight: 600; }
.transaction-daily-list       { float: right; padding: 13px 0; width: 88%; color: #1f2021; font-size: 14px; letter-spacing: -0.1px; }
.transaction-daily-list > li  { float: left; width: 33.33%; text-align: right; }

/* transaction amount > all coin: 탭 */
.transaction-kind             { margin-top: 40px; }
.transaction-kind-tablist:after{ content: ''; display: table; clear: both; }
.transaction-kind-tab         { position: relative; float: left; width: 250px; height: 48px; line-height: 48px; background-color: #163555; color: #fff; text-align: center; font-size: 14px; font-weight: 600; transition: color, background-color .1s ease-out; cursor: pointer; }
.transaction-kind-tab + .transaction-kind-tab { margin-left: 1px; }

/* transaction amount > all coin: 탭 활성화 */
.transaction-kind-tab:hover   { background-color: #f48c19; color: #fff; }
.transaction-kind-tab.active  { padding-bottom: 1px; background-color: #fff; color: #f48c19; cursor: default; }
.transaction-kind-tab.active:after { content: ''; position: absolute; left: 50%; bottom: 1px; transform: translateX(-50%); display: block; width: 24px; height: 2px; background-color: #f48c19; }

/* transaction amount > all coin: 컨텐츠 */
.transaction-kind-tabpanel    { position: relative; overflow: auto; box-sizing: border-box; padding: 16px; height: 565px; background-color: #fff; }
.transaction-kind-total       { position: absolute; top: -33px; right: 0; color: #8f9194; }
.transaction-kind-total > span{ margin-left: 8px; font-size: 14px; color: #505254; }

.transaction-kind-table       { border-bottom: 1px solid #bdc1c4; text-align: right; }
.transaction-kind-table thead { display: table; width: 100%; }
.transaction-kind-table tbody { display: block; overflow: auto; overflow-x: hidden;  width: 100%; height: 489px; }
.transaction-kind-table tbody tr { display: table; width: 100%; table-layout: fixed; height: 48px; }
.transaction-kind-table th    { padding: 15px 15px; width: 150px; color: #8f9194; border-bottom: 1px solid #bdc1c4; text-align: inherit; }
.transaction-kind-table td    { padding: 0 15px; height: 48px; width: 150px; border-top: 1px solid #e2e5e8; font-size: 14px; color: #1f2021; }
.transaction-kind-table tbody tr:first-child td { border-top: 0; }

.transaction-kind-table tr th:first-child,
.transaction-kind-table tr td:first-child { text-align: left; }
.transaction-kind-table tr td:first-child { color: #505254; }

.transaction-kind-table tr:hover td { background-color: #f4f6fb; }

.transaction-kind-table tr td:nth-child(2) { color: #1d8fd4; }
.transaction-kind-table tr td:nth-child(4) { color: #f48c19; }

/* about bitground */
.about-homepage               { overflow: hidden; padding: 40px; }
.about-homepage-box           { overflow: hidden; float: left; margin-left: 40px; box-sizing: border-box; width: 540px; height: 250px; padding-left: 290px; background: url(/bitground/img/main-artwork.png) no-repeat; }
.about-homepage-box.market,
.about-homepage-box.service   { padding-left: 0; padding-right: 290px; background-position-x: 100%; text-align: right; }
.about-homepage-box.about     { margin-bottom: 46px; }
.about-homepage-box.exchange  { margin-bottom: 46px; background-position-y: -260px; }
.about-homepage-box.market    { background-position-y: -520px; }
.about-homepage-box.service   { background-position-y: -780px; }

.about-homepage-title         { margin-top: 25px; font-size: 18px; }
.about-homepage-desc          { margin-top: 12px; font-size: 12px; line-height: 20px; color: #8f9194; }

/* 알림영역 전체 */
.notify-wrap                  { margin: 0 80px; padding-top: 40px; border-top: 1px solid #e2e5e8; }
.notify-wrap:after            { content: ''; display: table; clear: both; }

/* news & notice */
.main-news                    { position: relative; float: left; box-sizing: border-box; padding-right: 25px; width: 540px; }
.main-news-title              { padding-top: 24px; font-size: 18px; color: #1f2021; }
.main-news-more               { position: absolute; top: 22px; right: 20px; padding: 5px; color: #163555; }
.main-news-more:after         { content: ''; display: inline-block; margin-left: 4px; width: 16px; height: 12px; background: url(/bitground/img/arrow.png) no-repeat -10px -42px; vertical-align: middle; }
.main-news-more:hover         { color: #f48c19; }
.main-news-more:hover:after   { background-position-y: -74px; }
.main-news-list               { display: table; table-layout: fixed; margin-top: 16px; width: 100%; }
.main-news-list > li          { display: table-row; line-height: 28px; }
.main-news-label              { display: table-cell; width: 56px; color: #6abae2; }
.notice > .main-news-label    { color: #1d8fd4; }
.main-news-headline           { display: table-cell; color: #163555; }
.main-news-headline:hover     { color: #f48c19; text-decoration: underline; }
.main-news-time               { display: table-cell; width: 75px; color: #8f9194; text-align: right; }

/* 1:1 inquiry */
.contact-method               { position: relative; float: left; box-sizing: border-box; margin-left: 40px; padding: 24px 24px 27px; width: 540px; height: 250px; background: #6abae2 url(/bitground/img/bg-inquiry.png) no-repeat 447px 60px; color: #fff; font-weight: 300; }
.contact-method-title         { margin-bottom: 20px; font-size: 18px; font-weight: 400; }
.contact-method-desc          { line-height: 20px; }
.contact-method-desc + .contact-method-desc { margin-top: 12px; }
.contact-method-inquiry       { position: absolute; bottom: 27px; left: 24px; color: #505254; line-height: 16px; }
.contact-method-inquiry .c-button { float: left; margin-right: 14px; width: 226px; }
.contact-method-inquiry span  { display: inline-block; margin-top: 2px; }

/* new to bitground */
.guide-homepage               { margin: 40px 80px 0; padding: 24px 0; border: 1px solid #e2e5e8; border-width: 1px 0; }
.guide-homepage:after         { content: ''; display: table; clear: both; }
.guide-title                  { float: left; width: 16%; font-size: 18px; color: #1f2021; }
.guide-list                   { float: left; width: 84%; color: #163555; line-height: 18px; text-align: center; }
.guide-list > li              { display: inline-block; margin: 0 46px; }
.guide-list a:hover           { color: #f48c19; text-decoration: underline; }

.coin-logo                    { display: inline-block; width: 24px; height: 24px; margin-right: 13px; vertical-align: middle; }
.coin-logo > img              { max-width: 100%; max-height: 100%; }