@charset "utf-8";

.transaction-wrap             { padding: 40px 80px; background-color: #eef0f5; }
.transaction-title            { position: absolute; top: 0; left: 0; width: 250px; height: 100%; line-height: 113px; font-size: 18px; color: #1f2021; text-align: center; }
.transaction-daily            { position: relative; padding: 10px 0 10px 250px; border: 1px solid #e2e5e8; border-width: 1px 0;  background-color: #fff; }
.transaction-daily-line + .transaction-daily-line { border-top: 1px solid #e2e5e8; }
.transaction-daily-line:after,
.transaction-daily-list:after { content: ''; display: table; clear: both; }
.transaction-daily-label      { margin-left: 5px; padding: 0 9px; font-size: 12px; border-radius: 20px; background-color: #eef0f5; color: #505254; line-height: 20px; }
.transaction-daily-time       { float: left; padding: 16px 0; width: 12%; color: #8f9194; font-weight: 600; }
.transaction-daily-list       { float: right; box-sizing: border-box; padding: 13px 40px 13px 0; width: 88%; color: #1f2021; font-size: 14px; letter-spacing: -0.1px; }
.transaction-daily-list > li  { float: left; width: 33.33%; text-align: right; }

.market-wrap                  { padding-bottom: 112px; background: url(/bitground/img/bg-market.png) no-repeat 615px 100%; }
.exchange-wrap                { padding-bottom: 86px; background: url(/bitground/img/bg-exchange.png) no-repeat 628px 100%; }
.market-section               { margin-top: 80px; }
.market-section:after         { content: ''; display: table; clear: both; }
.market-section-title         { position: relative; float: left; padding-top: 39px; width: 250px; font-size: 18px; color: #8f9194; line-height: 24px; }
.market-section-title:after   { content: ''; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 1px; background-color: #bdc1c4; }
.market-section-title2        { display: block; padding-bottom: 11px; font-size: 30px; }
.market-section-content       { float: left; width: 870px; }
.market-section-text          { margin-top: 42px; font-size: 18px; line-height: 32px; }
.market-section-text strong   { font-weight: 500; }
.market-section-buttons       { width: 250px; }