@charset "utf-8";

.contents-member              { padding-left: 330px; padding-right: 330px; }

/* sign up */
.password-guide               { margin-top: 10px; color: #8f9194; line-height: 20px; }
.password-guide-title         { font-weight: 500; }
.signup-agree                 { margin-top: 57px; }
.signup-agree a               { color: #163555; text-decoration: underline; }
.signup-agree a:hover         { color: #f48c19; }
.signup-agree + .c-invalid-message { display: none; margin-top: 15px; }

.signup-agree.invalid + .c-invalid-message { display: block; }
.signup-register              { margin-top: 20px; width: 330px; }

/* signin */
.button-wrap-signin:after     { content: ''; display: table; clear: both; }
.button-wrap-signin .c-button { float: left; width: 54%; }
.button-wrap-signin .c-button:first-child { width: 46%; font-size: 16px; }

.signin-advice                { position: relative; margin-top: 80px; padding-top: 42px; font-size: 18px; font-weight: 600; }
.signin-advice:after          { content: ''; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 1px; background-color: #bdc1c4; }
.signin-advice-desc           { margin-top: 16px; font-size: 14px; color: #505254; }
.signin-advice-button         { margin-top: 40px; width: 290px; }

.top-message-line             { position: relative; margin-bottom: 40px; padding-bottom: 38px; }
.top-message-line:after       { content: ''; position: absolute; bottom: 0; left: 0; display: block; width: 40px; height: 1px; background-color: #bdc1c4; }

/* signin > verification */
.signin-verification-button   { width: 290px; }

/* forgot password */
.forgot-password-button       { width: 290px; }
.forgot-password-cancel-button{ width: 160px; margin-left: 6px; }

/* my page > profile */
.myinfo-item                  { font-size: 18px; line-height: 1.4; }           
.myinfo-item .sprite-icon     { margin-right: 10px; vertical-align: middle; }      
.myinfo-item + .myinfo-item   { margin-top: 15px; padding-top: 10px; border-top: 1px solid #bdc1c4; }
.myinfo-item-email            { color: #8f9194; }
.myinfo-signin                { position: relative; margin-top: 40px; padding-top: 23px; font-size: 14px; color: #8f9194; }
.myinfo-signin:after          { content: ''; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 1px; background-color: #bdc1c4; }
.myinfo-signin-label:after    { content: '-'; margin-right: 20px; margin-left: 20px; }

/* my page > Authentication */
.myauth-item                  { margin-top: 25px; }
.myauth-item + .myauth-item   { margin-top: 20px; }
.myauth-item-label,
.myauth-item-desc             { box-sizing: border-box; height: 52px; line-height: 52px; border-bottom: 1px solid #e2e5e8; }
.myauth-item-label            { position: relative; float: left; padding-left: 32px; width: 40%; font-size: 14px; }
.myauth-item-label .sprite-icon { position: absolute; top: 50%; left: 0; transform: translateY(-50%); vertical-align: middle; }
.myauth-item-desc             { float: right; width: 60%; color: #8f9194; font-size: 18px; text-align: right;  }
.myauth-item-message          { clear: both; padding-top: 10px; color: #8f9194; line-height: 20px; }

.auth-verified                { display: none; color: #62b420; }
.auth-verified:after          { content: ''; display: inline-block; margin-left: 10px; width: 20px; height: 20px; background:url(/bitground/img/sprite-icon.png) no-repeat -50px -268px; vertical-align: middle; }
.auth-retry                   { display: none; color: #ec0038; }
.auth-retry:after             { content: ''; display: inline-block; margin-left: 10px; width: 20px; height: 19px; background:url(/bitground/img/sprite-icon.png) no-repeat -50px -298px; vertical-align: middle; }
.myauth-password-button       { margin-top: 6px; width: 160px; line-height: 38px; }

.myauth-item.verified .auth-ready    { display: none; }
.myauth-item.verified .auth-verified { display: block; }

.myauth-item.not-verified .auth-ready,
.myauth-item.not-verified .myauth-item-help { display: none; }
.myauth-item.not-verified .auth-retry { display: block; }

/* mypage > change password */
.myauth-item                  { margin-top: 25px; }
.change-password-form         { margin-top: 60px; }
.change-password-form .digit-code { margin-top: 30px; }
.change-password-confirm-button   { width: 290px; }
.change-password-cancel-button    { width: 160px; margin-left: 5px; }
.change-password-form .input-field.invalid .input-field-input { border-color: #163555; }